body { 
    background: url('../images/bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.event-img-div {
    margin-left: 10px;
}

.div-card-bg {
    background-color: #28a745;
}

.card-title-color {
    color: beige;
}

footer {
    font-style: italic;
    text-align: center;
}